@font-face {
  font-family: Vazir;
  src: url('assets/fonts/Vazir-Regular.eot');
  src: url('assets/fonts/Vazir-Regular.ttf') format('truetype'),
       url('assets/fonts/Vazir-Regular.woff2') format('woff2'),
       url('assets/fonts/Vazir-Regular.woff') format('woff');
}

html, body {
  font-family: Vazir !important;
}
